<header class="header">
    <div class="container">
      <nav class="nav">
        <a class="logo" href="./index.html">
          <svg class="logo__icon">
            <use href="./images/icon-sprite.svg#icon-logo"></use>
          </svg>
          <span class="logo__text">Filmoteka</span>
        </a>
      </nav>
    </div>
  
        <ul class="nav_list">
          <li class="nav__item">
            <a class="nav__link" href="./index.html">Home</a>
          </li>
  
          <li class="nav__item">
            <a class="nav__link nav__link--active" href="./library.html">My library</a>
          </li>
        </ul>
      </nav>

        <div class="filter__search">
          <button class="filter-watched__btn" type="submit" aria-label="filter">
            Watched
          </button>
          <button class="filter-queue__btn" type="submit" aria-label="filter">
            Queue
          </button>
        </div>

    </div>
  </header>