<section class="hero">
  <div class="container cards">
    <div class="cards__wrap">
      <ul class="cards__list">
        <li class="cards__item">
          <img
            class="cards__photo"
            alt="movie"
            src="./images/poster.png"
            width="280"
            height="402"
            loading="lazy"
          />
          <h3 class="cards__title">GREYHOUND</h3>
          <p class="cards__info">Drama, Action | 2020</p>
        </li>
        <li class="cards__item">
          <img
            class="cards__photo"
            alt="movie"
            src="./images/poster.png"
            width="280"
            height="402"
            loading="lazy"
          />
          <h3 class="cards__title">MONSTER HUNTER</h3>
          <p class="cards__info">Drama, Action | 2020</p>
        </li>
        <li class="cards__item">
          <img
            class="cards__photo"
            alt="movie"
            src="./images/poster.png"
            width="280"
            height="402"
            loading="lazy"
          />
          <h3 class="cards__title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
          <p class="cards__info">Drama, Comedy | 2019</p>
        </li>
        <li class="cards__item">
          <img
            class="cards__photo"
            alt="movie"
            src="./images/poster.png"
            width="280"
            height="402"
            loading="lazy"
          />
          <h3 class="cards__title">LITTLE WOMEN</h3>
          <p class="cards__info">Drama | 2019</p>
        </li>
        <li class="cards__item">
          <img
            class="cards__photo"
            alt="movie"
            src="./images/poster.png"
            width="280"
            height="402"
            loading="lazy"
          />
          <h3 class="cards__title">LITTLE WOMEN</h3>
          <p class="cards__info">Drama | 2019</p>
        </li>
        <li class="cards__item">
          <img
            class="cards__photo"
            alt="movie"
            src="./images/poster.png"
            width="280"
            height="402"
            loading="lazy"
          />
          <h3 class="cards__title">LITTLE WOMEN</h3>
          <p class="cards__info">Drama | 2019</p>
        </li>
        <li class="cards__item">
          <img
            class="cards__photo"
            alt="movie"
            src="./images/poster.png"
            width="280"
            height="402"
            loading="lazy"
          />
          <h3 class="cards__title">LITTLE WOMEN</h3>
          <p class="cards__info">Drama | 2019</p>
        </li>
        <li class="cards__item">
          <img
            class="cards__photo"
            alt="movie"
            src="./images/poster.png"
            width="280"
            height="402"
            loading="lazy"
          />
          <h3 class="cards__title">LITTLE WOMEN</h3>
          <p class="cards__info">Drama | 2019</p>
        </li>
        <li class="cards__item">
          <img
            class="cards__photo"
            alt="movie"
            src="./images/poster.png"
            width="280"
            height="402"
            loading="lazy"
          />
          <h3 class="cards__title">LITTLE WOMEN</h3>
          <p class="cards__info">Drama | 2019</p>
        </li>
      </ul>
    </div>
  </div>
</section>
