<div class="backdrop__modal-film is-hidden">
  <div class="modal-film__card">
    <button type="button" id="modal-close-button" class="modal-film__bnt-close" data-modal-close>
      <svg class="modal-film__close-icon" width="30" height="30">
        <use href="./images/symbol-defs.svg#icon-close-btn"></use>
      </svg>
    </button>

    <div class="modal-film__info"></div>


    <div class="modal-film__buttons-block">
      <button type="submit" class="modal-film__btn-watched" data-modal-watched>Add to watched</button>
      <button type="submit" class="modal-film__btn-queue" data-modal-queue>Add to queue</button>
    </div>
  </div>
</div>



<!-- <div class="backdrop js-backdrop is-hidden">
  <div class="container backdrop__container">
    <div class="modal">
      <button type="button" class="close-btn">
        <svg class="close-btn__icon" width="30" height="30">
          <use href='./images/icon-sprite.svg#icon-close'></use>
        </svg>
      </button>

      <div class="modal__card-container js-modal__card-container">
        <div class="modal__card">
          <div class="modal__card-left-side">
            <img loading="lazy" src="#" alt="{title}" class="modal__card-img">
            <div class="image-placeholder" aria-label="image not found"></div>

          </div>
          <div class="modal__card-right-side">
            <h2 class="modal__card-title">Title</h2>
            <ul class="modal__card-info-list list">
              <li class="modal__card-info-item">
                <span
                  class="modal__card-info-text modal__card-info-text_side_left modal__card-info-text_color_secondary">Vote
                  / Votes</span><span class="modal__card-info-text modal__card-info-text_color_main"><span
                    class="modal__card-info-votes modal__card-info-votes_color_accent"></span> /
                  <span class="modal__card-info-votes modal__card-info-votes_color_secondary"></span></span>
              </li>
              <li class="modal__card-info-item">
                <span
                  class="modal__card-info-text modal__card-info-text_side_left modal__card-info-text_color_secondary">Popularity</span><span
                  class="modal__card-info-text modal__card-info-text_color_main"></span>
              </li>
              <li class="modal__card-info-item">
                <span
                  class="modal__card-info-text modal__card-info-text_side_left modal__card-info-text_color_secondary">Original
                  Title</span><span class="modal__card-info-text modal__card-info-text_color_main"></span>
              </li>
              <li class="modal__card-info-item">
                <span
                  class="modal__card-info-text modal__card-info-text_side_left modal__card-info-text_color_secondary">Genre</span>

                <span class="modal__card-info-text modal__card-info-text_color_main"></span>
              </li>
            </ul>
            <h3 class="modal__card-subtitle">About</h3>
            <p class="modal__card-description"></p>

            
            <div class="modal__card-btn-wrapper">
              <button type="button" class="modal__card-btn modal__card-btn_color_accent modal__card-btn_add_to-watched"
                data-add-to-watched>add to Wattched</button>
              <button type="button" class="modal__card-btn modal__card-btn_add_to-queue" data-add-to-queue>add to
                queue</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div> -->