  <div class="pagination-container container">
    <button class="pagination__item arrow-left">
      <svg width="40" height="40" class="icon">
        <use href="./images/icon-sprite.svg#arrow-left"></use>
      </svg>
    </button>
    <button class="pagination__item firstPage">1</button>
    <span class="pagination__item dotsLeft">...</span>
    <button class="pagination__item pagination__item--active" data-index="1">1</button>
    <button class="pagination__item" data-index="2">2</button>
    <button class="pagination__item" data-index="3">3</button>
    <button class="pagination__item" data-index="4">4</button>
    <button class="pagination__item" data-index="5">5</button>
    <span class="pagination__item dotsRight">...</span>
    <button class="pagination__item lastPage">1000</button>
    <button class="pagination__item arrow-right">
      <svg width="40" height="40" class="icon">
        <use href="./images/icon-sprite.svg#arrow-right"></use>
      </svg>
    </button>  
  </div>
