<ul class="pagination-container container">
  <!-- <button class="pagination__item arrow-left pagination-btn">
      <svg width="40" height="40" class="icon arrow-left pagination-btn">
        <use href="./images/icon-sprite.svg#arrow-left"></use>
      </svg>
    </button>
    <button class="pagination__item firstPage pagination-btn">1</button>
    <span class="pagination__item dotsLeft">...</span>
    <button class="pagination__item pagination-btn pagination__item--active" data-index="1">1</button>
    <button class="pagination__item pagination-btn" data-index="2">2</button>
    <button class="pagination__item pagination-btn" data-index="3">3</button>
    <button class="pagination__item pagination-btn" data-index="4">4</button>
    <button class="pagination__item pagination-btn" data-index="5">5</button>
    <span class="pagination__item dotsRight">...</span>
    <button class="pagination__item lastPage pagination-btn"></button>
    <button class="pagination__item arrow-right pagination-btn">
      <svg width="40" height="40" class="icon arrow-right pagination-btn">
        <use href="./images/icon-sprite.svg#arrow-right"></use>
      </svg>
    </button>   -->
</ul>
