.cellar{
    display: flex;
    color: var(--footer-text-color);
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.12;
    margin-right: 10px;
}